#cartWidget {
    cursor:default;
    position: absolute; z-index: 1001; 
    top:0; left:50%;
    width:10%; height: 100%;;


    .cartDetailContainer {
        position: absolute; z-index: 2000;
        top:10vh;
        left:-80vh;
        width: 80vw; height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color:white;
        
        border:{
            top:1vh solid $color3;
            right:1vh solid $color3;
            left:1vh solid $color7;
            bottom:1vh solid $color7;
            radius:1%;
        }
        
        >button:hover {
            transform:scale(1.2)
        }
        >button {
            cursor:pointer;
            position: absolute;
            top:1%;
            right:1%;
            border:none;
            outline-style: none;
            background-color: transparent;
            font:{family:$titulo;size:2vw;}
            color:$color6;
            transition:transform 0.5s;
        }

        .cartDetail {
            width:90%;
            height: 95%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                height: 12%;
                margin:0;
                margin-top:3vh;
                font:{family:$titulo;size:3vw}
                color:$color2;
                letter-spacing: 0.8vw;
            }

            .finalBuy {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items:center;


                p {
                    margin:0;
                    margin-right: 3vw;
                    width:25%;
                    font:{family:$subt1;size:2vw};
                    text-align:right;
                    word-spacing: 2vw;
                    color:$color2;
                    border-top: 0.5vh $color7 solid;
                }

                >button:hover {
                    opacity:1;
                    background-color:$color2;
                    a {color:white;}
                    border-color: $color3;
                }
                >button {
                    opacity:0.5;
                    cursor:pointer;
                    width:20%;
                    font:{family:$subt1;size:1.4vw};
                    outline-style: none;
                    border:none;
                    border-left: 1vw $color2 solid;
                    background-color: white;
                    transition:opacity 1s, background-color 1s,border-color 1s;

                    a {
                        text-decoration: none;
                        color:$color2;
                        transition:color 1s;

                    }
                }
            }

            .cartContent {
                overflow-y: auto;
                height: 65%;

                .cartItem {
                    display:flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 1vh;
                    width:inherit;
                    height:25%;
                    border-left:1.2vw solid $color6;
                    border-bottom: 0.5vh solid $color6;
                    // background-image:linear-gradient(to right,$color5 85%,white);

                    h3 {
                        width:30%;
                        margin:0;
                        padding:{left:1vw;top:1vh;}
                        font:{
                            family:$subt1;
                            size:1.8vw;
                        }
                        word-spacing: 0.3vw;
                        color:$color6;
                    }

                    p {
                        width:25%;
                        text-align: center;
                        font:{family:$subt2;weight:700;size:2.2vw;}
                        color:$color2;
                    }

                    p:nth-child(3) {
                        color:$color3;
                    }


                    button:hover {
                        opacity:1;
                        color:$color1;
                    }
                    button {
                        cursor:pointer;
                        opacity:0.4;
                        width:20%;
                        height:50%;
                        padding-right: 1vw;
                        border:none;
                        font:{family:$subt2;size:1.4vw}
                        background-color: white;
                        text-align: right;
                        transition:color 0.5s, opacity 0.5s;
                        outline-style: none;
                    }
                }
            }

        }
    }




    .iconContainer {
        width:inherit;
        height: inherit;
        position: absolute;

        .cartIcon:hover {
            top:20%;
            opacity:1;
            path:nth-child(3) {
                animation:cartIcon 0.8s ease-in-out forwards;
                transform-origin: 50% 50%;
            }
        }

        .cartIcon {
            cursor: pointer;
            opacity:0.5;
            position: absolute;
            top:-20%;
            transform: rotate(180deg) scale(3);
            transition: top 1s,opacity 1s;
            stroke:$color3;
            path {transition: stroke 1s}
            
        }

        @keyframes cartIcon {
            100% {transform:rotate(360deg)}
        }
    }
}