@import 'cardItem';

.shopContainer {
    margin-top: 10vh;
    width: inherit;
    display: flex;
    flex-direction: row;

    .orderContainer {
        width: 25%;
    }

    .shopItems {
        height: 180vh;
        width: 75%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        justify-content: flex-start;
        align-content: flex-start;

    }

}